body{
	background-image:url(images/bg.png); 
	margin: 0;
	padding: 0;
	font-family:'Oxygen-Regular', sans-serif;
	overflow: hidden;

}
.sky{
	position: absolute;
	width: 100vw;
	height: 80vh;
	left:0;
	top:0;
	background-color: skyblue;
	background-position: bottom left;

}
/*for start button*/
.start {
	color: black;
	text-shadow: 1.6px 1.6px 1.6px antiquewhite;
	position: absolute;
	font-size: 2.5em;
	width: 25%;
	background-color: #ccc;
	z-index: 1000;
	text-align: center;
	left: 42%;
	top: 40%;
	font-family: 'Anton';
	cursor: pointer;
	border-radius: 25px;
	box-shadow: 1px 1px 5px 5px deepskyblue;
}
.start:before {
	background-image: url(images/head0.png);
	background-repeat: no-repeat;
	background-position: 0px -64px;
	width: 32px;
	height: 32px;
	content: " ";
	display: block;
	position: absolute;
	margin-top: 0.4em;
	margin-left: 0.4em;
}

/* Beginning For Character Coding*/

.character {
	position: absolute; 
	top: 88vh; 
	left: 200px; 
	display: block;
}
.character .body {
	width: 32px; 
	height: 32px; 
	background-image: url(images/body0.png); 
	background-position: 64px 0px; 
	margin-top: 14px; 
}
.character .head {
	width: 32px; 
	height: 32px; 
	background-image: url(images/head0.png); 
	margin-bottom: 0;
	position: absolute; 
	background-repeat: no-repeat; 
	background-position: 0px -64px;
}

/* for movement*/
.character.stand.up .head {
	background-position: 0px 0px;
}

.character.stand.down .head {
	background-position: 0px -64px;
}

.character.stand.left .head {
	background-position: 0px -32px;
}

.character.stand.right .head {
	background-position: 0px -96px;
}
.character.walk.up .head {
	background-position: 0px 0px;
	animation: headbob 0.5s infinite;
}
.character.walk.down .head {
	background-position: 0px -64px;
	animation: headbob 0.75s infinite;
}
.character.walk.left .head {
	background-position: 0px -32px;
	margin-top: -3px;
	margin-left: -2px;
	animation: headbob2 0.75s infinite;
}
@keyframes headbob {
   0%, 100% { margin-top: 0px; }
     50% { margin-top: 1px; }
}


@keyframes headbob2 {
   0%, 100% { margin-left: -2px; }
     50% { margin-left: 0px; }
}


@keyframes headbob3 {
   0%, 100% { margin-left: 2px; }
     50% { margin-left: 0px; }
}


/* For Body */
.character.stand.up .body {
	background-position: 0px 0px;
}

.character.stand.down .body {
	background-position: -64px 0px;
}

.character.stand.left .body {
	background-position: -32px 0px;
}

.character.stand.right .body {
	background-position: -96px 0px;
}
.character.walk.up .body {
    animation: walkup 1s steps(3) infinite;
}
.character.walk.down .body {
    animation: walkdown 1s steps(3) infinite;
}
.character.walk.left .body {
    animation: walkleft 1s steps(3) infinite;
}
@keyframes walkleft {
   0%, 100% { background-position:  -32px  -32px; }
     50% { background-position: -32px -128px; }
}
.character.walk.right .head {
	background-position: 0px -96px;
	margin-top: -3px;
	margin-left: 4px;
	animation: headbob3 0.75s infinite;
}
.character.walk.right .body {
    animation: walkright 1s steps(3) infinite;
}
@keyframes walkright {
   0%, 100% { background-position:  -96px  -32px; }
     50% { background-position: -96px -128px; }
}
@keyframes walkup {
   0%, 100% { background-position:  0px  -32px; }
     50% { background-position: 0px -128px; }
}
@keyframes walkdown {
   0%, 100% { background-position:  -64px  -32px; }
     50% { background-position: -64px -128px; }
}

/* this for Lifeline*/

.hud {
	position: fixed; 
	width: 100%; 
	z-index: 1000;
}
.hud ul {
	list-style-type: none;
	float: right; 
	margin-right: 20px;
}
.health li {
	width: 40px; 
	height: 48px; 
	background-image: url(images/state.png); 
	float:right; 
	margin-left: 8px;
}


/* For Bomb */

.bomb {
	background-image: url(images/sprites.png);
	width: 31px;
	height: 10px;
	position: absolute;
	background-position: -96px -401px;
	transform: rotate(90deg);
	top: -20px;
}

/* For Explosion*/
.explosion {
	width: 128px;
	height: 160px;
	position: absolute;
	top: 88vw;
	left: 300px;
	margin-left: -64px;
	margin-top: 0px;
}
.explosion:before {
	z-index: 999;
	width: 128px;
	height: 32px;
	display: block;
	content: " ";
	background-image: url(images/bomb1.png);
	background-position: 0 -192px;
	animation: bombH 0.5s steps(1) infinite;
}

.explosion:after {
	z-index: 999;
	width: 32px;
	height: 160px;
	display: block;
	content: " ";
	margin-top: -100px;
	margin-left: 48px;
	background-image: url(images/bomb1.png);
	background-position: 0px -32px;
	animation: bombV 0.5s steps(1) infinite;
	
}
@keyframes bombV {
	0%, 100% { background-position: 32px -32px; }
	12.5%, 87.5% { background-position: 64px -32px; }
	25%, 75% { background-position: 96px -32px; }
	37.5%, 62.5% { background-position: 0 -32px; }
}

@keyframes bombH {
	0%, 100% { background-position: 0 -288px; }
	12.5%, 87.5% { background-position: 0 -256px; }
	25%, 75% { background-position: 0 -224px; }
	37.5%, 62.5% { background-position: 0 -224px; }
}


